In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

import seaborn as sns
import os

In [4]:
data = pd.read_csv("sales_data.csv",encoding='latin1')

In [5]:
#exploring data
print(data.head())

   ORDERNUMBER  QUANTITYORDERED  PRICEEACH  ORDERLINENUMBER    SALES  \
0        10107               30      95.70                2  2871.00
1        10121               34      81.35                5  2765.90
2        10134               41      94.74                2  3884.34
3        10145               45      83.26                6  3746.70
4        10159               49     100.00               14  5205.27

         ORDERDATE   STATUS  QTR_ID  MONTH_ID  YEAR_ID  ...  \
0   2/24/2003 0:00  Shipped       1         2     2003  ...
1    5/7/2003 0:00  Shipped       2         5     2003  ...
2    7/1/2003 0:00  Shipped       3         7     2003  ...
3   8/25/2003 0:00  Shipped       3         8     2003  ...
4  10/10/2003 0:00  Shipped       4        10     2003  ...

                    ADDRESSLINE1  ADDRESSLINE2           CITY STATE  \
0        897 Long Airport Avenue           NaN            NYC    NY
1             59 rue de l'Abbaye           NaN          Reims   NaN
2  27 rue du Colonel Pierre Avia           NaN          Paris   NaN
3             78934 Hillside Dr.           NaN       Pasadena    CA
4                7734 Strong St.           NaN  San Francisco    CA

  POSTALCODE COUNTRY TERRITORY CONTACTLASTNAME CONTACTFIRSTNAME DEALSIZE
0      10022     USA       NaN              Yu             Kwai    Small
1      51100  France      EMEA         Henriot             Paul    Small
2      75508  France      EMEA        Da Cunha           Daniel   Medium
3      90003     USA       NaN           Young            Julie   Medium
4        NaN     USA       NaN           Brown            Julie   Medium

[5 rows x 25 columns]

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2823 entries, 0 to 2822
Data columns (total 25 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ORDERNUMBER       2823 non-null   int64
 1   QUANTITYORDERED   2823 non-null   int64
 2   PRICEEACH         2823 non-null   float64
 3   ORDERLINENUMBER   2823 non-null   int64
 4   SALES             2823 non-null   float64
 5   ORDERDATE         2823 non-null   object
 6   STATUS            2823 non-null   object
 7   QTR_ID            2823 non-null   int64
 8   MONTH_ID          2823 non-null   int64
 9   YEAR_ID           2823 non-null   int64
 10  PRODUCTLINE       2823 non-null   object
 11  MSRP              2823 non-null   int64
 12  PRODUCTCODE       2823 non-null   object
 13  CUSTOMERNAME      2823 non-null   object
 14  PHONE             2823 non-null   object
 15  ADDRESSLINE1      2823 non-null   object
 16  ADDRESSLINE2      302 non-null    object
 17  CITY              2823 non-null   object
 18  STATE             1337 non-null   object
 19  POSTALCODE        2747 non-null   object
 20  COUNTRY           2823 non-null   object
 21  TERRITORY         1749 non-null   object
 22  CONTACTLASTNAME   2823 non-null   object
 23  CONTACTFIRSTNAME  2823 non-null   object
 24  DEALSIZE          2823 non-null   object
dtypes: float64(2), int64(7), object(16)
memory usage: 551.5+ KB

In [8]:
pd.isnull(data).sum()

ORDERNUMBER            0
QUANTITYORDERED        0
PRICEEACH              0
ORDERLINENUMBER        0
SALES                  0
ORDERDATE              0
STATUS                 0
QTR_ID                 0
MONTH_ID               0
YEAR_ID                0
PRODUCTLINE            0
MSRP                   0
PRODUCTCODE            0
CUSTOMERNAME           0
PHONE                  0
ADDRESSLINE1           0
ADDRESSLINE2        2521
CITY                   0
STATE               1486
POSTALCODE            76
COUNTRY                0
TERRITORY           1074
CONTACTLASTNAME        0
CONTACTFIRSTNAME       0
DEALSIZE               0
dtype: int64

In [9]:
data.shape

(2823, 25)

In [20]:
data.dropna(subset=['STATE'],inplace = True)

In [21]:
data.dropna(subset = ['TERRITORY'],inplace = True)

In [25]:
data['ADDRESSLINE2'].fillna(00,inplace = True)

10      Level 3
21      Level 6
32            0
39            0
40      Level 6
         ...
2787          0
2789          0
2791    Level 6
2796          0
2808          0
Name: ADDRESSLINE2, Length: 263, dtype: object

In [26]:
data['POSTALCODE'].fillna(0)

10          3004
21          2067
32          4101
39      106-0032
40          2067
          ...
2787    PO31 7PJ
2789    106-0032
2791        2067
2796        3150
2808    PO31 7PJ
Name: POSTALCODE, Length: 263, dtype: object

In [27]:
pd.isnull(data).sum()

ORDERNUMBER           0
QUANTITYORDERED       0
PRICEEACH             0
ORDERLINENUMBER       0
SALES                 0
ORDERDATE             0
STATUS                0
QTR_ID                0
MONTH_ID              0
YEAR_ID               0
PRODUCTLINE           0
MSRP                  0
PRODUCTCODE           0
CUSTOMERNAME          0
PHONE                 0
ADDRESSLINE1          0
ADDRESSLINE2        116
CITY                  0
STATE                 0
POSTALCODE            0
COUNTRY               0
TERRITORY             0
CONTACTLASTNAME       0
CONTACTFIRSTNAME      0
DEALSIZE              0
dtype: int64

In [29]:
data['ADDRESSLINE2'].fillna(00)

10      Level 3
21      Level 6
32            0
39            0
40      Level 6
         ...
2787          0
2789          0
2791    Level 6
2796          0
2808          0
Name: ADDRESSLINE2, Length: 263, dtype: object

In [30]:
pd.isnull(data).sum()

ORDERNUMBER         0
QUANTITYORDERED     0
PRICEEACH           0
ORDERLINENUMBER     0
SALES               0
ORDERDATE           0
STATUS              0
QTR_ID              0
MONTH_ID            0
YEAR_ID             0
PRODUCTLINE         0
MSRP                0
PRODUCTCODE         0
CUSTOMERNAME        0
PHONE               0
ADDRESSLINE1        0
ADDRESSLINE2        0
CITY                0
STATE               0
POSTALCODE          0
COUNTRY             0
TERRITORY           0
CONTACTLASTNAME     0
CONTACTFIRSTNAME    0
DEALSIZE            0
dtype: int64

In [31]:
data.info

<bound method DataFrame.info of       ORDERNUMBER  QUANTITYORDERED  PRICEEACH  ORDERLINENUMBER    SALES  \
10          10223               37     100.00                1  3965.66
21          10361               20      72.55               13  1451.00
32          10174               34     100.00                4  8014.82
39          10258               32     100.00                6  7680.64
40          10270               21     100.00                9  4905.39
...           ...              ...        ...              ...      ...
2787        10316               34      43.70               12  1485.80
2789        10339               27      76.31                6  2060.37
2791        10361               23      95.20               12  2189.60
2796        10415               42      57.61                3  2419.62
2808        10232               24      49.69                3  1192.56

            ORDERDATE    STATUS  QTR_ID  MONTH_ID  YEAR_ID  ...  \
10     2/20/2004 0:00   Shipped       1         2     2004  ...
21    12/17/2004 0:00   Shipped       4        12     2004  ...
32     11/6/2003 0:00   Shipped       4        11     2003  ...
39     6/15/2004 0:00   Shipped       2         6     2004  ...
40     7/19/2004 0:00   Shipped       3         7     2004  ...
...               ...       ...     ...       ...      ...  ...
2787   11/1/2004 0:00   Shipped       4        11     2004  ...
2789  11/23/2004 0:00   Shipped       4        11     2004  ...
2791  12/17/2004 0:00   Shipped       4        12     2004  ...
2796    5/9/2005 0:00  Disputed       2         5     2005  ...
2808   3/20/2004 0:00   Shipped       1         3     2004  ...

                                 ADDRESSLINE1  ADDRESSLINE2            CITY  \
10                          636 St Kilda Road       Level 3       Melbourne
21    Monitor Money Building, 815 Pacific Hwy       Level 6       Chatswood
32                     31 Duncan St. West End             0  South Brisbane
39                             2-2-8 Roppongi             0       Minato-ku
40    Monitor Money Building, 815 Pacific Hwy       Level 6       Chatswood
...                                       ...           ...             ...
2787                Garden House Crowther Way             0           Cowes
2789                           2-2-8 Roppongi             0       Minato-ku
2791  Monitor Money Building, 815 Pacific Hwy       Level 6       Chatswood
2796                           7 Allen Street             0    Glen Waverly
2808                Garden House Crowther Way             0           Cowes

              STATE POSTALCODE    COUNTRY TERRITORY CONTACTLASTNAME  \
10         Victoria       3004  Australia      APAC        Ferguson
21              NSW       2067  Australia      APAC          Huxley
32       Queensland       4101  Australia      APAC        Calaghan
39            Tokyo   106-0032      Japan     Japan       Shimamura
40              NSW       2067  Australia      APAC          Huxley
...             ...        ...        ...       ...             ...
2787  Isle of Wight   PO31 7PJ         UK      EMEA         Bennett
2789          Tokyo   106-0032      Japan     Japan       Shimamura
2791            NSW       2067  Australia      APAC          Huxley
2796       Victoria       3150  Australia      APAC         Connery
2808  Isle of Wight   PO31 7PJ         UK      EMEA         Bennett

     CONTACTFIRSTNAME DEALSIZE
10              Peter   Medium
21             Adrian    Small
32               Tony    Large
39              Akiko    Large
40             Adrian   Medium
...               ...      ...
2787            Helen    Small
2789            Akiko    Small
2791           Adrian    Small
2796             Sean    Small
2808            Helen    Small

[263 rows x 25 columns]>

**EXPLORING DATA**

In [32]:
data.columns

Index(['ORDERNUMBER', 'QUANTITYORDERED', 'PRICEEACH', 'ORDERLINENUMBER',
       'SALES', 'ORDERDATE', 'STATUS', 'QTR_ID', 'MONTH_ID', 'YEAR_ID',
       'PRODUCTLINE', 'MSRP', 'PRODUCTCODE', 'CUSTOMERNAME', 'PHONE',
       'ADDRESSLINE1', 'ADDRESSLINE2', 'CITY', 'STATE', 'POSTALCODE',
       'COUNTRY', 'TERRITORY', 'CONTACTLASTNAME', 'CONTACTFIRSTNAME',
       'DEALSIZE'],
      dtype='object')